
/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#db3033+0,7900a5+100 */
.bg-common{

    background: rgb(219,48,51); /* Old browsers */ /* FF3.6-15 */ /* Chrome10-25,Safari5.1-6 */
    
    background: -webkit-gradient(linear, left top, right top, from(rgba(219,48,51,1)),to(rgba(121,0,165,1)));
    
    background: linear-gradient(to right, rgba(219,48,51,1) 0%,rgba(121,0,165,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#db3033', endColorstr='#7900a5',GradientType=1 ); 
    /* IE6-9 */
    
}

.bg-normal{
    background: #4923B7;
}
.btn{
    -webkit-transition: all 0.3s linear;
    transition: all 0.3s linear;
}
.btn-common{
    background: #fff;
    border: 1px solid rgb(219,48,51);
    color: rgb(219,48,51);
    font-family: 'Poppins', sans-serif;
    padding: 15px 25px;
    border-radius: 50px;
    text-transform: uppercase;
    -webkit-transition: all 0.3s linear;
    transition: all 0.3s linear;
}


.btn-common:hover,
.btn-common:focus{
    background: rgb(219,48,51);
    border: 1px solid rgb(219,48,51);
    color: #fff;
    -webkit-box-shadow: -1px 3px 62px -4px rgba(0,0,0,0.75);
    box-shadow: -1px 3px 62px -4px rgba(0,0,0,0.75);
}

.btn-group{
    display: block;
}





